/* index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F9F9F9; /* El gris clarito de fondo */
}

/* Elimina el estilo que centra todo en Vite por defecto */
#root {
  width: 100%;
  margin: 0 auto;
}